header{
    font-weight: bold;
    height: 30px;
    position: fixed;
    padding: 20px 40px;
    color: #fff;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

.hamburguer{
    display: none;
}

.logo{
    display: flex;
    align-items: center;
}
.menu-mobile{
    display: none;
}

@media(max-width: 425px){
    header{
        padding-left: 16px;
    }
    .hamburguer{
        display:block;
        margin-right: 25px;
    }
    .menu-mobile{
        display: block;
        margin-right: 40px;
    }
}
