nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

a{
    color: #fff;
    padding-right: 20px;
    text-decoration: none;
    margin-right: 20px;
}

.save{
    font-size: 20px;
    margin-right: 100px;
    cursor: pointer;
    background-color:  orangered;
    padding: 5px;
    border-radius: 20%;
}


@media(max-width: 425px){
    .nav-bar-desktop{
        display: none;
    }
    .menu{
        padding: 3rem;
        top: 0;
        right: 0;
        position: fixed;
        background-color: orangered;
        height: 100%;
    }
    .menu ul{
        display: block;
    }
    .menu li{
        margin-bottom: 10px;
    }
    .save{
        color: #fff;
        border:  1px solid #fff;
    }
    .close{
        position: fixed;
        top: 25px;
        color: #fff;
        font-size: 20px;
        right: 30px;
    }
}